@font-face {
  font-family: Inter_Light ;
  src: url("./files/fonts/Inter/Inter-Light.ttf");
}

@font-face {
  font-family: Inter_Regular;
  src: url("./files/fonts/Inter/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter_Medium;
  src: url("./files/fonts/Inter/Inter-Medium.ttf");
}

@font-face {
  font-family: Inter_SemiBold;
  src: url("./files/fonts/Inter/Inter-SemiBold.ttf");
}
@font-face {
  font-family: Inter_Bold;
  src: url("./files/fonts/Inter/Inter-Bold.ttf");
}


@font-face {
  font-family: JosefinSans_Thin;
  src: url("./files/fonts/Josefin_sans/JosefinSans-Thin.ttf");
}
@font-face {
  font-family: JosefinSans_Light;
  src: url("./files/fonts/Josefin_sans/JosefinSans-Light.ttf");
}
@font-face {
  font-family: JosefinSans_ExtraLight;
  src: url("./files/fonts/Josefin_sans/JosefinSans-ExtraLight.ttf");
}
@font-face {
  font-family: JosefinSans_Medium;
  src: url("./files/fonts/Josefin_sans/JosefinSans-Medium.ttf");
}
@font-face {
  font-family: JosefinSans_SemiBold;
  src: url("./files/fonts/Josefin_sans/JosefinSans-SemiBold.ttf");
}
@font-face {
  font-family: JosefinSans_Bold;
  src: url("./files/fonts/Josefin_sans/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: Museuo_700;
  src: url("./files/fonts/museo-sans/MuseoSans_700.otf");
}
@font-face {
  font-family: Museuo_900;
  src: url("./files/fonts/museo-sans/MuseoSans_900.otf");
}